@if (product()) {
<article class="product-card">
  <header class="card-header">
    <img class="card-image" [src]="product().image" [alt]="product().title" />
  </header>

  <main class="card-content">
    <h3 class="card-title">{{ product().title }}</h3>
    <p class="card-category">{{ product().category }}</p>
    <p class="card-price">{{ product().price | currency }}</p>
  </main>

  <footer *appHasRole="['admins']" class="card-actions">
    <button appButton [theme]="'secondary'" (click)="onEdit()">Edit</button>

    <button appButton [theme]="'primary'" (click)="onDelete()">Delete</button>
  </footer>
</article>
}
