@use "buttons";
@use "variables" as vars;

html,
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: vars.$font-family-base;
  font-size: vars.$font-size-base;

  .back-link {
    color: vars.$text-color-secondary;
    text-decoration: none;
    font-size: 0.9rem;
    margin: 0 0 1rem 0;
    display: block;

    &:hover {
      color: vars.$primary-color;
    }
  }
}
